.home-section{
    .form-funcionario{
        display: flex;
        position: absolute;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: black, $alpha: 0.5);

        .content{
            background-color: #fff;
            margin: auto;
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px 40px;
            border-radius: 5px;
            transform: translateY(5%);
            .close{
                i{
                    font-size: 2em;
                    position: absolute;
                    transform: translate(-20px, -30px);
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            form{
                h2{
                    margin-bottom: 15px;
                    margin-top: 30px;
                }
                p{
                    margin-bottom: 15px;
                    select{
                        width: 100%;
                        height: 40px;
                        margin-top: 10px;
                        border: none;
                        background: #D9D9D9;
                        color: red;
                        color: var(--CorPrimaria);
                        border-radius: 3px;
                        padding: 8px;
                        cursor: pointer;
                        outline: none;
                    }
                    .input{
                        width: 100%;
                    }


                }
                button{
                    border: none;
                    padding: 5px 15px;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #1d1b31;
                    &:hover{
                        cursor: pointer;
                    }
                }
                
            }
        }
    }

    .container{
        margin-top: 3em;
        .company-info{
            display: flex;
            justify-content: left;
            align-items: center;
            .img{
                background-color: black;
                width: 130px;
                height: 130px;
                border-radius: 50%;
                margin-right: 15px;
                z-index: 999;
            }
            .name-user-company{
                z-index: 999;
                h1{
                    margin-bottom: 10px;
                }
                .nome{
                    font-weight: 600;
                    font-size: 1.2em;
                    margin-bottom: -5px;
                }
                .tag{
                    font-weight: 500;
                    color: rgb(98, 98, 98);
                }
            }
        }

        .content{
            margin-top: 2em;
            .header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    z-index: 999;
                    font-weight: 600;
                    font-size: 1.6em;
                }
                .input{
                    z-index: 999;
                    input{
                        background-color: #D9D9D9;
                        outline: none;
                        border: none;
                        padding: 5px 15px;
                        border-radius: 5px;
                        font-size: 1.1em;
                    }
                    button{
                        border: none;
                        padding: 5px 15px;
                        font-size: 1.1em;
                        border-radius: 5px;
                        color: #fff;
                        background-color: #1d1b31;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                button{
                    z-index: 999;
                    border: none;
                    padding: 5px 15px;
                    font-size: 1.1em;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #1d1b31;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            table{
                background-color: #D9D9D9;
                width: 100%;
                border-radius: 10px;
                margin-top: 10px;
                tr{
                    th{
                        padding: 10px 25px;
                        width: 33.3%;
                        text-align: left;
                        font-size: 1.1em;
                    }
                    td{
                        padding: 5px 25px;
                        width: 33.3%;
                        text-align: left;
                    }
                }
            }
        }
    }
}