@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root
{
    --CorPrimaria: #2f2d4a;
    --CorSecundaria: #625f81;

    --CorTextoNormal: rgb(136, 136, 136);
    --CorSpan: #525252;

    /* CORES GRAVIDADE */
    --CorSimples-1: #b8ff8c;
    --CorSimples-2: #80e144;

    --CorMedia-1: #ffb100;
    --CorMedia-2: #ff8d00;

    --CorComplexo-1: #ff9a9a;
    --CorComplexo-2: #df6161;
}

.home-section-title 
{
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 20px 50px 0px;
    color: var(--CorSecundaria);
}

.cards-content 
{
    display: flex;
    justify-content: space-between;
}

.cards 
{
    width: 275px;
    height: 100px;
    padding: 5px 10px;
    border-radius: 8px;
}

.cards .number 
{
    font-size: 45px;
    color: var(--CorPrimaria);
}

.cards .text-card 
{
    position: relative;
    bottom: 5px;
    color: rgb(136, 136, 136);
    font-size: 18px;
}

/* ########################################################################## */

.funcionarios-content 
{
    display: flex;
    flex-wrap: wrap;
}

.title
{
    margin-top: 2rem;
    color: var(--CorSecundaria);
    font-size: 30px;
}

.faq 
{
    width: 48%;
    margin-top: 0.5rem;
    padding-top: 1rem;
    cursor: pointer;
    margin-right: 30px;
}

.func-collapse 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--CorPrimaria);
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

.info span
{
    color: white;
}

.func-collapse .info 
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.func-collapse p
{
    line-height: 1.6;
    font-size: 15px;
}

.func-dados 
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    border: 1px solid var(--CorPrimaria);
    border-radius: 0px 0px 10px 10px;
    padding: 0px 10px;
}

.func-dados .text-collapse 
{
    margin: 15px 0px;
}

.faq.active .func-dados
{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active i
{
    transform: rotate(180deg);
}

.faq i 
{
    transition: transform .5s ease-in;
    margin-left: 30px;
}

span 
{
    font-weight: 600;
    color: #525252;
}

.gravidade 
{
    display: flex;
    align-items: center;
    align-content: center;
}

.cor 
{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-left: 10px;
    background: #ccc;
    border-radius: 10px;
}

.circulo 
{
    height: 11px;
    width: 11px;
    background: rgb(146, 146, 146);
    border-radius: 50%;
    margin-left: 10px;
}

/* -=-=-=-=-=-=-=-=-=-= CORES DA GRAVIDADE -=-=-=-=-=-=-=-=-=-= */
.simples1
{
    background-color: var(--CorSimples-1);
}
.simples2
{
    background-color: var(--CorSimples-2);
}
.medio1
{
    background-color: var(--CorMedia-1);
}
.medio2
{
    background-color: var(--CorMedia-2);
}
.complexo1
{
    background-color: var(--CorComplexo-1);
}
.complexo2
{
    background-color: var(--CorComplexo-2);
}

@keyframes fade 
{
    from
    {
        opacity: 0;
        transform: translateY(-10px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* -=-=-=-=-=-=-=-=-=-= GRÁFICOS -=-=-=-=-=-=-=-=-=-= */

.graph-opt
{
    margin: 20px 0px;
}

.graph-opt p 
{
    color: var(--CorSecundaria);
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px;
}

.graph-opt button 
{
    cursor: pointer;
    border: none;
    background: var(--CorPrimaria);
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-weight: 200;
    transition: 0.5s ease;
}

.graph-opt button:hover
{
    background-color: #1b1a2b;
}

.chart-container 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0px;

}
