@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root
{
    --CorPrimaria: #2f2d4a;
    --CorSecundaria: #625f81;
    --CorTercearia: #cbc9dd;

    --CorTextoNormal: rgb(136, 136, 136);
    --CorSpan: #525252;
}

.card{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.padding
{
    padding: 20px 30px !important;
}

.title-table 
{
    font-size: 26px;
    margin: 20px 0px 0px 0px;
    color: var(--CorSecundaria);
}

.checklist-content 
{
    display: flex;
    justify-content: center;
}

.edit-btn{
    margin-bottom: 6px;
}

.edit-btn::after{
    position: absolute;
    content: 'Editar';
    padding: 5px 10px;
    opacity: 0;
    transition: 0.5s;
    border-radius: 5px;
}

.edit-btn:hover::after{
    content: 'Editar';
    color: black;
    background-color: #d3d3d3;
    opacity: 1;
    transform: translateY(-30px);
}

.remove-btn::after{
    position: absolute;
    content: 'Remover';
    padding: 5px 10px;
    opacity: 0;
    transition: 0.5s;
    border-radius: 5px;
}

.remove-btn:hover::after{
    content: 'Remover';
    color: black;
    background-color: #d3d3d3;
    opacity: 1;
    transform: translateY(-30px);
}

.edit-btn, .remove-btn{
    color: #fff;
    background-color: #2f2d4a;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.edit-btn, .remove-btn:hover{
    cursor: pointer;
}

.remove-btn i{
    pointer-events: none;
    font-size: 1.1em;
}

.edit-btn i{
    pointer-events: none;
    font-size: 1.2em;
}

th 
{
    background: var(--CorPrimaria);
    color: white;
}

th, td 
{
    padding: 10px 15px 10px 10px;
}

table, th, td
{
    border: 1px solid var(--CorSecundaria);
    border-collapse: collapse;
}

table 
{
    width: 100%;
    margin-top: 30px;
}

table textarea
{
    width: 100%;
    height: 59px;
    padding: 5px;
    outline: none;
    resize: none;
    background-color: transparent;
    border: none;
}

table textarea::-webkit-scrollbar
{
    width: 0px;
}

table textarea::placeholder
{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

tr:nth-child(2n)
{
    background-color: var(--CorTercearia);
}

select
{
    width: 100%;
    height: 35px;
    background: transparent;
    border-radius: 5px;
}

.plus-icon 
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.plus-icon i
{
    cursor: pointer;
    font-size: 22px;
    background: var(--CorPrimaria);
    padding: 15px;
    color: white;
    border-radius: 50%;
    position: relative;
}


.plus-icon i::after 
{
    transition: 1s ease-out;
    content: "Adicionar";
    position: absolute;
    background: var(--CorPrimaria);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    padding: 5px;
    left: -15px;
    top: 65px;
    opacity: 0;
}

.plus-icon i:hover::after
{
    opacity: 1;
}

.textareatextarea
{
    height: 120px !important;
    min-width: 100%;
    max-width: 100%;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= PÁGINA NÃO CONFORMIDADES -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.checklist-link 
{
    margin-top: 20px;
}

.checklist-link a 
{
    cursor: pointer;
    text-decoration: none;
    color: white;
    background: var(--CorPrimaria);
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: 300;
    transition: 0.5s ease-out;
}

.checklist-link a:hover
{
    background-color: #161524;
}